node_modules/
.next/
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
*.env
.venv

# Database
instance/
*.db
*.sqlite3

# Migrations
migrations/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# OS
.DS_Store
Thumbs.db